/*General Settings - body*/
body, html {
  height: 100%;
  color: black;
  font-family : sans-serif;
  line-height: 150%;
}

.full-width {
  text-align: justify;
}

body {
  position: relative;
  -webkit-animation-name: body; 
  -webkit-animation-duration: 1.5s; 
  animation-name: body;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes body {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes body {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/*General Settings - title fonts*/
h1 {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

p {
  font-family: 'Lato', sans-serif;
}

h2, h3, a {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
}

/*nav bar*/
nav {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 4.5em;
  z-index: 9;
}

nav ul {
  list-style: none;
  overflow: hidden;
  color: white;
  float: right;
  margin: 0;
  width: 100%;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li {
  padding: 1em;
  width: 100%;
}

nav ul li:hover {
  background: rgba(149,149,149,0.3);
}

nav ul li a {
  display: block;
  padding: 1.5em 0;
  font-size: 1.5em;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav a:link, nav a:visited {
  color: white;
}

nav a:hover, nav a:active {
  color: white;
}

/*sidenav & closebtn settings*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn {
  font-size: 4em;
  text-decoration: none;
}

#burger {
  font-size: 2.5em; 
  width: 100%;
  background-color: black;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  padding: 0.5em;
  z-index: 9999999;
}

/*parallax header & the images*/
.parallax {
  position : relative;
  margin-top: 0;
  height : 800px;
  width: 100%;
  text-indent : -9999px;
  z-index: -99;
  }

/*parallax top img*/
.h-1 {
  background: black;
  background-image: url(../img/bg-2.png);
  height: 30%;
  background-attachment : fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
/*parallax middle img*/
.h-2 {
  background: white;
  background-image: url(../img/bg-1.png);
  height: 40%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
/*parallax bottom img*/
.h-3 {
  background: black;
  background-image: url(../img/bg-2.png);
  height: 30%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
/*self intro*/
#intro {
  font-size: 1em;
  position: relative;
  background: rgba(149,149,149,0.7);
  background-image: url('../img/ink1.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6em;
}

#intro h2 {
  margin-top: 14em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.2em;
  color: rgb(34, 181, 115);
}

#intro h2::before{
  content: '';
  width: 80px;
  height: 40px;
  background: rgba(34, 181, 115,0.7);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  position: absolute;
  top: 0;
  left: 47.5%;
  -moz-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
}

#intro h1 {
  margin-bottom: 6em;
  text-align: center;
  font-size: 2em;
}


.shiyu {
  width: 100%;
  margin-top: 13em;
  border: .5px solid rgba(149,149,149,0.3);
  border-style: inset;
  -moz-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.7em;
}

.shiyu::after {
  content: '';
  position: absolute;
  z-index: -9; 
  -moz-box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 80%; 
  left: 10%;
  height: 80%;
  bottom: 0; 
}

/*skill section*/
.skill {
  color: white;
  width: 100%;
  height: 15em;
  background: rgb(149, 149, 149);
  padding: 3em 0% 2em 30%;
  box-sizing: border-box;
  line-height: 150%;
}

.skill:hover {
  background: #22b573;
}

.skill ul {
  text-transform: lowercase;
}

.knowledge {
  margin-right: 10%;
  float: left;
}

.software {
  margin-left: 20%;
  float: left;
}

/*project categories*/
#project {
  clear: all;
  position: relative;
}

#project::before{
  content: '';
  width: 80px;
  height: 40px;
  background: rgb(34, 181, 115);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  position: absolute;
  top: 0;
  left: 47.5%;
  -moz-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 10px 1px rgba(0, 0, 0, 0.1);
}

#p1 {
  padding-top: 9em;
}
/*hover effect*/
.hovereffect {
  width: 40%;
  height: 17em;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 0em 2% 3em 2%;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect .row .col {
  display: inline-block;
  float: left;
}

.project-img {
  display: inline-block;
  position: relative;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
} 

.hovereffect:hover .project-img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -webkit-filter: grayscale(50%); 
  filter: grayscale(50%)
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect .info a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 17px;
  padding: 1em 5%;
  color: white;
  font-size: bold;
  text-decoration: none;
  border: 1px solid white;
  margin: 8em 0 0 0;
  background: transparent;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}


.hovereffect .info a:hover {
  -moz-box-shadow: 0 0 5px white;
  -ms-box-shadow: 0 0 5px white;
  -o-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

/*footer*/
footer {
  width: 100%;
  height: 70em;
}

footer .bye {
  height: 100vh;
  background: black;
  background-image: url('../img/bye-1.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
}
footer p {
  border-top: 0.6em solid white;
  padding: 0.5em 0;
  background: #22b573;
}
footer a {
  color: black;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  z-index: 9;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

footer a:hover {
  font-size: 1.1em;
}

@media screen and (max-width: 1150px) {
  .shiyu {
    margin-top: 22em;
  }
}

@media screen and (max-width: 960px) {
  .shiyu {
    margin-top: 24em;
  }
}

@media screen and (max-width: 770px) {
  
  /*hover effect*/
  .hovereffect .info a {
    font-size: 0.7em;
  }
  /*skill & knowledge section*/
  .skill {
    height: 26em;
    padding: 3em 0% 2em 34%;
  }

  .knowledge {
    margin: 0 10%;
    float: none;
  }

  .software {
    margin: 2em 10% 0 10%;
    float: none;
  }
  /*self intro*/
  #intro {
  background: white;
  background-image: none;
  padding-bottom: 2em;
  }

  #intro h2 {
  margin-top: 6em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.2em;
}

  #intro h1 {
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.7em;
  }

  .shiyu {
    margin-top: 19em;
  }

}

@media screen and (max-width: 695px) {
  .shiyu {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 1.1em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1.1em;
  }
  /*self intro*/

  #intro p {
    width: 90%;
    margin: 0 auto;
  }

  .shiyu {
    margin-top: 0em;
    border: 0;
  }

  /*hover effect*/
  .hovereffect {
   width: 46%;
   cursor: pointer;
  }

  /*skill & knowledge section*/
  .skill {
    padding: 3em 0% 2em 27%;
  }
}
